@page "/login"
@inject AuthenticationStateProvider AuthStateProvider
@inject IAuthService AuthService
@inject NavigationManager Navigation

<MudContainer MaxWidth = "MaxWidth.ExtraSmall">
    <MudPaper Elevation="3" Class="pa-8 mt-8">
        <div class="d-flex justify-center mb-4">
            <MudImage Src="logo.png" Alt="MemoRecipe" Width="90" />
        </div>

        <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true">Se connecter</MudText>
        
        <MudText Typo="Typo.body2" Align="Align.Center" Class="mb-6">Bienvenue ! Connectez-vous pour retrouver vos recettes</MudText>
        
        <MudTextField 
            T="string" 
            Label="Email" 
            Variant="Variant.Outlined" 
            InputType="InputType.Email" 
            Adornment="Adornment.Start" 
            AdornmentIcon="@Icons.Material.Filled.Email"
            Class="mb-4" 
            @bind-Value ="_email"
        />

        <MudTextField 
            T="string" 
            Label="Mot de passe" 
            Variant="Variant.Outlined"
            InputType="@(_showPassword ? InputType.Text : InputType.Password)"
            Adornment="Adornment.End" 
            AdornmentIcon="@(_showPassword ? Icons.Material.Filled.Visibility : Icons.Material.Filled.VisibilityOff)"
            OnAdornmentClick="() => _showPassword = !_showPassword"
            Class="mb-6" 
            @bind-Value ="_password"
        />

        @if(!string.IsNullOrEmpty(_errorMessage))
        {
        <MudAlert Severity="Severity.Error" Class="mb-4">@_errorMessage</MudAlert>
        }

        <MudButton 
            Variant="Variant.Filled" 
            Color="Color.Primary" 
            FullWidth="true" 
            Class="mb-4"
            OnClick="HandleLogin"
        >
            Se connecter
        </MudButton>

        <MudText Align="Align.Center">
            Pas encore de compte ? 
            <MudLink Href="/register">S'inscrire</MudLink>
        </MudText>

    </MudPaper>

</MudContainer>

@code 
{
    string _email = string.Empty;
    string _password = string.Empty; 
    bool _showPassword = false;
    string _errorMessage = string.Empty;

   private async Task HandleLogin()
    {
        var result = await AuthService.LoginAsync(_email, _password);
        if(!result)
        {
            _errorMessage = "Email ou mot de passe incorrect";
            return;
        }
        ((CookieAuthStateProvider)AuthStateProvider).NotifyAuthChanged();
        Navigation.NavigateTo("/");
    }
}