@page "/recipes"

@attribute [Authorize]


<MudContainer MaxWidth = "MaxWidth.ExtraSmall">
    <MudPaper Elevation="3" Class="pa-8 mt-4">
        <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true" Class="pb-4">Liste de recettes</MudText>
        @if (_recipes == null)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else if (!_recipes.Any())
        {
            <p>Vous n'avez sauvegardé encore aucune recette.</p>
            <MudButton 
                Variant="Variant.Filled" 
                Color="Color.Primary" 
                FullWidth="true" 
                Class="mt-4"
                OnClick="HandleRedirection"
            >
                Ajouter une recette
            </MudButton>
        }
        else{
            @foreach(RecipeDto recipe in _recipes)
            {
                <RecipeListCard Recipe="@recipe" />
            }
        @if (!string.IsNullOrEmpty(_errorMessage))
            {
                <MudAlert Severity="Severity.Error" Class="ma-4">@_errorMessage</MudAlert>
            }
        }        
    </MudPaper>
</MudContainer>
