@page "/recipes"

@attribute [Authorize]
@inject IRecipeService RecipeService
@inject NavigationManager Navigation

<MudContainer MaxWidth = "MaxWidth.ExtraSmall">
    <MudPaper Elevation="3" Class="pa-8 mt-4">
        <MudText Typo="Typo.h5" Align="Align.Center" GutterBottom="true" Class="pb-4">Liste de recettes</MudText>
        @if (_recipes == null)
        {
            <MudProgressCircular Indeterminate="true" />
        }
        else if (!_recipes.Any())
        {
            <p>Vous n'avez sauvegardé encore aucune recette.</p>
            <MudButton 
                Variant="Variant.Filled" 
                Color="Color.Primary" 
                FullWidth="true" 
                Class="mt-4"
                OnClick="HandleRedirection"
            >
                Ajouter une recette
            </MudButton>
        }
        else{
            @foreach(RecipeDto recipe in _recipes)
            {
                <MudCard Class="pa-4 mb-2">
                    <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                        <MudText Typo="Typo.h6">@recipe.Title</MudText>
                        <MudIconButton Href="@($"/recipes/{recipe.Id}")" Icon="@Icons.Material.Filled.Visibility" />
                    </MudStack>
                </MudCard>
            }
        }        
    </MudPaper>
    @if (!string.IsNullOrEmpty(_errorMessage))
        {
            <MudAlert Severity="Severity.Error" Class="ma-4">@_errorMessage</MudAlert>
        }
</MudContainer>

@code
{
    List<RecipeDto>? _recipes = [];
    bool _isLoading = false;
    string _errorMessage = "";


    protected override async Task OnInitializedAsync()
    {
        _isLoading = true;
        _errorMessage = null;
        try
        {
           _recipes = await RecipeService.GetAllRecipesAsync();
        }
        catch (Exception ex)
        {
            _errorMessage = "Un problème est survenu lors du chargement de vos recettes";
        }
        finally
        {
            _isLoading = false;
        }
    }

    private async Task HandleRedirection()
    {
        Navigation.NavigateTo($"/recipes/new");
    }
}
